[Desktop Entry]
Type=Application
Name=Firmware Manager
Icon=firmware-manager
Comment=Manage system and device firmware
Categories=System;GTK
Keywords="firmware;system76;fwupd;lvfs;"
StartupNotify=false
Exec=/home/guido/.local/bin/start-firmware-manager.sh
X-Desktop-File-Install-Version=0.27
