[Desktop Entry]
Name=Jan (0.5.16)
Exec=/home/guido/Applications/jan-linux-x86_64-0.5.16.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_7f59530fd8edb5ee44e60a4fd1f2f094_jan
StartupWMClass=Jan
X-AppImage-Version=0.5.16
Comment=Use offline LLMs with your own data. Run open source models like Llama2 or Falcon on your internal computers/servers.
MimeType=x-scheme-handler/jan;
Categories=Utility;

TryExec=/home/guido/Applications/jan-linux-x86_64-0.5.16.AppImage
X-AppImage-Old-Icon=jan
X-AppImage-Old-Name=Jan
X-AppImage-Identifier=7f59530fd8edb5ee44e60a4fd1f2f094
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2025-04-08 07:19:31 UTC
Path=/home/guido/Applications/jan.ai
StartupNotify=false

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/guido/Applications/jan-linux-x86_64-0.5.16.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
