[Desktop Entry]
Name=Kunze Meistertask
Exec=brave --app=https://www.meistertask.com/app/dashboard
Terminal=false
Icon=/home/guido/Bilder/kunze-medien.ico
Type=Application
StartupWMClass=Kunze
Categories=Kunze;
Comment=
Path=
StartupNotify=false
