[Desktop Entry]
Name=Super Productivity
Exec="/home/guido/Applications/superProductivity-x86_64.AppImage" %U
Terminal=false
Type=Application
Icon=superproductivity
StartupWMClass=Super Productivity
Comment=ToDo list and Time Tracking
Categories=Office;ProjectManagement;
Path=/home/guido/Applications/super-productivity
StartupNotify=false
